.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
node_modules
!node_modules/bpmn-js/dist
!node_modules/boolbase
!node_modules/cheerio
!node_modules/cheerio-select
!node_modules/css-select
!node_modules/css-what
!node_modules/dom-serializer
!node_modules/domelementtype
!node_modules/domhandler
!node_modules/domutils
!node_modules/entities
!node_modules/htmlparser2
!node_modules/nth-check
!node_modules/parse5
!node_modules/parse5-htmlparser2-tree-adapter